@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');



.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-height: 100vh;
  margin: 0;
  overflow: hidden; /*
   Hide any overflowing content */
}

.widget {
  position: fixed;
  height: 32rem;
  max-height: 100%;
  width: 30rem;
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(120deg, #fdff78, #cfbb21);
  border-radius: 1.25rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
  max-width: 100%;
  margin: 2rem;
  overflow: hidden; /* Hide any overflowing content */
}

.weatherLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  padding: 2rem;
  margin-top: 1.5rem;
}

.weatherLocation button {
  background-color: white;
  border: 1px solid transparent;
  padding: 0;
}
.weatherLocation button:hover{
  background-color: rgb(184, 188, 177);
  font-weight: high;
}
.weatherLocation input:focus {
  outline: 0 none;
}

.widget .weatherIcon {
  height: 20%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--text-color);
}

.widget .weatherIcon i {
  padding-top: 1.7rem;
}

.search_button {
  color: var(--button-text);
  width: 60%;
  height: 2.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  margin: 0 20px;
}

.icon_and_weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.input_field {
  width: 100%;
  border-radius: 1.25rem;
  border: none;
  height: 2.5rem;
  text-align: center;
  font-size: 1rem;
}

.temperature {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color);
}

.place {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--text-color);
}

.weatherCondition {
  color: var(--text-color);
}

.date {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--text-color);
}

@media (max-width: 1200px) {
  .main {
    position: relative;
    height: 80vh;
    width: clamp(300px, 60%, 600px);
    margin: 0 auto;
    max-height: 100vh;
    overflow: hidden; /* Hide any overflowing content */
  }

  .widget {
    width: 90%;
    height: 85vh; /* Adjust the height as needed */
    margin-bottom: 5rem;
  }

  .icon_and_weatherInfo {
    flex-direction: column;
    align-items: center;
  }

  .weatherIcon {
    height: 20%;
    font-size: 3rem; /* Adjusted font size for the weather icon */
  }

  .temperature {
    font-size: 2rem;
  }

  .weatherCondition {
    font-size: 1rem;
  }

  .place {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .date {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (max-height: 550px) {
  .widget {
    position: fixed;
    height: 80vh;
    width: 70%;
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(120deg, #fdff78, #cfbb21);
    border-radius: 1.25rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3),
      0 6px 6px 0 rgba(0, 0, 0, 0.15);
    max-width: 100%;
    margin: 2rem;
    overflow: hidden; /* Hide any overflowing content */
  }

  .components {
    display: flex;
    justify-content: flex-start;
  }
}
